.brick-layout {
  width: 400px;
  padding: 5px;
  box-sizing: content-box;
  display: flex;
  flex-wrap: wrap;
}

.brick {
  min-height: 80px;
  min-width: 50px;
  margin: 5px;
  flex-basis: 100px;
}
.brick:nth-child(2n) {
 flex-grow:1; 
}
.color-aqua{
  background: aqua;
}
.color-yellow{
  background: yellow;
}
.color-fuchsia{
  background: fuchsia;
}